.container {
  border-radius: 192px;
  background: rgba(15, 15, 15, 1);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0px 2px 5px 0px #6b61ff1a;
}

.activeGradient {
  background: linear-gradient(180deg, #6b61ff 0%, #fe9bf3 100%);
  svg {
    stroke: #ffffff;
  }
}

.inactive {
  background: #1e1e1e;
  border: 1px solid #ffffff0d;
  box-shadow: 0px 1px 4px 0px #00000080;
  svg {
    stroke-opacity: 0.5;
  }
}
