@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Black.woff") format("woff");
  font-weight: 900; /* Black */
  font-style: normal;
  descent-override: 0%;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Bold.woff") format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
  descent-override: 0%;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-ExtraBold.woff") format("woff");
  font-weight: 800; /* Extra Bold */
  font-style: normal;
  descent-override: 0%;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-SemiBold.woff") format("woff");
  font-weight: 600; /* Semi Bold */
  font-style: normal;
  descent-override: 0%;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Medium.woff") format("woff");
  font-weight: 500; /* Medium */
  font-style: normal;
  descent-override: 0%;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Regular.woff") format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
  descent-override: 0%;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Light.woff") format("woff");
  font-weight: 300; /* Light */
  font-style: normal;
  descent-override: 0%;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-ExtraLight.woff") format("woff");
  font-weight: 200; /* Extra Light */
  font-style: normal;
  descent-override: 0%;
}

@font-face {
  font-family: "Nohemi";
  src: url("/fonts/Nohemi-Thin.woff") format("woff");
  font-weight: 100; /* Thin */
  font-style: normal;
  descent-override: 0%;
}

@font-face {
  font-family: "Perfectly Nineties";
  src: url("/fonts/perfectly-nineties-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
