.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #e5e5e5;
}

.left-shadow {
  /* background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.7) 100%
  ); */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  height: 404px;
  width: 150px;
  /* border-top-left-radius: 48px;
  border-bottom-left-radius: 48px; */
}
.right-shadow {
  z-index: 999;

  /* background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.7) 100%
  ); */
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  height: 404px;
  width: 150px;
  /* border-top-right-radius: 48px;
  border-bottom-right-radius: 48px; */
}

.hidden-scroll-bar::-webkit-scrollbar {
  display: none !important;
}

button:focus {
  outline: none !important;
}

.hidden-scroll-bar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.privacy-policy-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.2rem;
  margin-top: 20px;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
}
